// Global Styles
*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-kerning: auto;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   // background: $c-white;
   // color: $c-white;
   // font-family: $font-primary;
   // line-height: 1.5;
}

h1 {
   // font-size: ;
}
h2 {
   // font-size: ;
}
h3 {
   // font-size: ;
}

div, span, p, a, li, button, label, input {
   // font-size: ;
}

ul {
   list-style: none;
}

a {
   // color: $c-white;
   text-decoration: none;
}

button {
   cursor: pointer;
   font-family: inherit;
   
   &:focus {
      outline: none;
   }
}

img {
   width: 100%;
}
